h1{
    font-size: 90px;
}




@media (max-width:768px) {

   h1{
    font-size: 12px;
   } 

   
   
    
}

h2{
    font-size: 80px;
}

#projetos {
    
    background: url(../Img/joss-woodhead-3wFRlwS91yk-unsplash.jpg) no-repeat center center / cover;
    height: 140vh; /* Garante que a imagem ocupe toda a altura da tela */
    margin: 0;
}

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.sail-regular {
  font-family: "Sail", system-ui;
  font-weight: 400;
  font-style: normal;
}









#arte{
    position: relative;
    right: 40%;
    top: 10px;
}

#arteimg{
    position: relative;
    right: 24%;
}

#Primeiro{
position: relative;
    right: 17%;

}

#GuiaRapido{
    position: relative;
    right: 40%;
    top: 20px;

}

#GuiaRapidoimg{
    position: relative;
    right: 37%;

}

#Segundo{
    position: relative;
    right: 17%;
    top: 5px;
    
    

}


h1{
    position: relative;
    left: 0%;
    top: 300px;
    
}


